- if extra_honors > 0
	%div{width: '100%'}
	- if extra_honors == 1
		<b>#{extra_honors}</b> other summoner has honored you!
	- else
		<b>#{extra_honors}</b> other summoners have honored you!
	%hr