Welcome to the mutual honor demo!
<br/><br/>
Play a game with some totally real human beings!
<br/><br/>
Honor the players you like! It's only 1 simple click to give honor.
<br/><br/>
If they honor you back, matchmaking will be more likely to put them on your team.
<br/><br/><br/>
%div{id: 'tips', style: 'visibility: hidden'}
	Secret tips: 
	<br/><br/>
	Other players might honor you before or after you honor them. The triggers for this demo are when you send honor and when you exit the post-game screen.
	<br/><br/>
	Players are more likely to honor you if you have a good KDA, but maybe they'll like you for your charming personality as well.
	<br/><br/>
	During champion select, players will be marked if you've previously honored them, even if they didn't honor you back. Of course, it's not very likely you'd see them again if they didn't honor you back.
	<br/><br/>
	Players with whom you've mutually honored are more likely to appear in your next game if you've played with them recently. After all, at least you know those players are still logged on and playing games.
	<br/><br/>
	The other players in this demo aren't actually real.